a {
  text-decoration: none;
}

.Page {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin: 114px 20px 64px 20px;
}

.SubHeader {
  position: fixed; 
  top: 64px; 
  height: 50px;
  width: 100%; 
  text-align: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  backdrop-filter: blur(5px);
}

.Swiper {
  height: calc(100vh - 148px);
  width: 100%;
  margin-top: 64px;
  z-index: 0;
}

.section {
  min-height: 100vh;
  max-height: 100vh;
  margin: auto 0;
  z-index: 0;
}

.Slide {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.dark .swiper-scrollbar {
  background-color: rgba(255,255,255,0.1);
}

.dark .swiper-scrollbar-drag {
  background-color: rgba(255,255,255,0.5);
}

.Logo img {
  filter: brightness(-2);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.Card {
  overflow: hidden;
  min-height: calc(100vh - 268px);
  max-height: calc(100vh - 212px);
  width: 80%;
  max-width: 800px;
  text-align: left; 
  border-radius: 10px; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.Panels {
  margin-top: 84px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.Panel:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.Panel:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 4;
}

.wrap {
  display: flex;
  flex-direction: row;
}

.wrap ul {
  flex-wrap: wrap;
}

.wrap li {
  width: fit-content;
}

.wrap .span {
  margin: auto 10px;
}

@media (max-width: 640px) {
  .Panels {
    display: flex;
    flex-direction: column;
  }
  .wrap, .grid {
    flex-direction: column;
  }
  .wrap .span, h3 .span {
    display: none;
  }
}

@media (max-width: 400px) {
  .Card ul {
    display: none;
  }
}

@media (max-height: 450px) {
  .Avatar span {
    display: none;
  }
  .Card p {
    display: none;
  }
}

@media (max-height: 500px) {
  .project-image {
    display: none;
  }
  .Card p {
    display: none;
  }
}

/* @media (max-height: 600px) {
  .Card .Tags {
    display: none;
  }
}

@media (max-height: 750px) {
  .Card ul {
    display: none;
  }
} */
