a {
  text-decoration: none;
}

/* .Header {
  height: 64px;
  width: 100%;
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
} */

/* .Content {
  margin-top: 64px;
  margin-bottom: 64px;
} */

.Page {
  /* height: 100%; */
  text-align: center;
  /* display: flex;
  flex-direction: column; */
  /* gap: 64px; */
}

.Slide {
  /* min-height: calc(100vh - 128px); */
  /* min-height: calc(100vh - 64px); */
  /* min-height: 100vh; */
  /* height: 100vh; */
  /* width: 100%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0; */
}

.section {
  min-height: 100vh;
  max-height: 100vh;
  margin: auto 0;
  z-index: 0;
}

.fp-overflow {
  width: 100%;
  padding: 20px 0;
}

#fp-nav ul li {
  margin: 10px;
  padding: 0.575em 0;
}

#fp-nav ul li a span {
  background: var(--bullet-bg)
}

#fp-nav ul li .fp-tooltip {
  top: -0.575em;
  color: var(--tooltip-color);
}

.fp-tooltip {
  border-radius: 5em;
  text-transform: uppercase;
  font-size: 14px;
  white-space: nowrap;
  padding: 0.575em 1.5em;
  background-color: var(--tooltip-bg);
}

.fp-watermark {
  display: none;
}

.Logo img {
  filter: brightness(-2);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.Card {
  overflow: hidden;
  min-height: calc(100vh - 268px);
  max-height: calc(100vh - 212px);
  width: 80%;
  max-width: 800px;
  text-align: left; 
  border-radius: 10px; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.Panels {
  padding-top: 20px;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.Panel:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.Panel:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 4;
}

.wrap {
  display: flex;
  flex-direction: row;
}

.wrap ul {
  flex-wrap: wrap;
}

.wrap li {
  width: fit-content;
}

.wrap .span {
  margin: auto 10px;
}

@media (max-width: 640px) {
  .Panels {
    display: flex;
    flex-direction: column;
  }
  .wrap, .grid {
    flex-direction: column;
  }
  .wrap .span, h3 .span {
    display: none;
  }
}

@media (max-width: 400px) {
  .Card ul {
    display: none;
  }
}

@media (max-height: 450px) {
  .Avatar span {
    display: none;
  }
  .Card p {
    display: none;
  }
}

@media (max-height: 500px) {
  .project-image {
    display: none;
  }
  .Card p {
    display: none;
  }
}

@media (max-height: 600px) {
  .Card .Tags {
    display: none;
  }
}

@media (max-height: 750px) {
  .Card ul {
    display: none;
  }
}
