.fp-overflow {
  width: 100%;
  padding: 20px 0;
}

#fp-nav ul li {
  margin: 10px;
  padding: 0.575em 0;
}

#fp-nav ul li a span {
  background: var(--bullet-bg)
}

#fp-nav ul li .fp-tooltip {
  top: -0.575em;
  color: var(--tooltip-color);
}

.fp-tooltip {
  border-radius: 5em;
  text-transform: uppercase;
  font-size: 14px;
  white-space: nowrap;
  padding: 0.575em 1.5em;
  background-color: var(--tooltip-bg);
}

.fp-watermark {
  display: none;
}
