.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hidden:nth-child(2) {
  transition-delay: 200ms;
}

.Slide:nth-child(3) {
  transition-delay: 400ms;
}

.Slide:nth-child(4) {
  transition-delay: 600ms;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
