/* .App {
  height: 100vh;
} */

a {
  text-decoration: none;
}

.Header {
  height: 64px;
  /* width: calc(100% - 40px); */
  width: 100%;
  /* margin: 6px 20px; */
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  /* background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%); */
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.3) 70%, rgba(255, 255, 255, 0) 100%); */
}

.Content {
  /* height: calc(100% - 128px); */
  min-height: calc(100vh - 128px);
  /* min-height: 100%; */
  /* height: calc(100% - 64px); */
  /* height: 100vh; */
  /* margin-bottom: 64px; */
  margin-top: 64px;
  margin-bottom: 64px;
  /* padding-top: 64px; */
  /* padding-bottom: 64px; */
  /* padding: 64px auto; */
  /* margin: 64px auto; */
  /* margin: 60px 20px; */
  /* overflow: auto; */
}

.Swiper {
  height: calc(100vh - 148px);
  width: 100%;

  z-index: 0;
}

.Slide {
  height: calc(100vh - 148px);
  /* width: calc(100vw - 40px); */
  margin: auto 20px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 0;
}

.Projects {
  height: calc(100vh - 200px);
  /* width: 100%;

  z-index: 0; */
}

.Page {
  /* height: 100vh; */
  height: 100%;
  /* min-height: 100%; */
  /* height: calc(100% - 60px); */
  /* min-height: 100%; */
  /* width: 100%; */
  /* margin: 60px 20px; */
  /* margin: 64px auto; */
  /* height: fit-content; */

  text-align: center;

  padding-top: 20px;
  /* margin-top: 20px; */
  margin: auto 20px;
  /* margin: 70px 20px; */

  /* background-color: cadetblue; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* align-items: stretch; */
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.split-column {
  align-items: flex-start;
  /* margin: auto 20px; */
  align-items: stretch;
  /* height: 100%; */
}

.Intro {
  margin-right: 20px;
  padding: 10px;
  /* margin-bottom: 20px; */
}

.wrap {
  display: flex;
  flex-direction: row;
}

.backdrop {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

@media (max-width: 600px) {
  .split-column {
    flex-direction: column;
  }
  .Intro {
    margin-right: auto;
    margin-bottom: 20px;
  }
  .wrap {
    flex-direction: column;
    text-align: left;
  }
  .wrap span {
    display: none;
  }
}
