/* .App {
  text-align: center;
} */

.Header {
  /* height: 60px; */
  /* width: calc(100% - 40px); */
  width: 100%;
  /* margin: 6px 20px; */
  margin: 0;
  padding: 0;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  position: fixed;
  z-index: 2;
  /* background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%); */
}

/* .Content {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.swiper {
  /* height: calc(100vh - 60px); */
  height: 100vh;
  width: 100%;
}

.swiper-slide, .Slide {
  height: 100%;
  width: 100%;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Page {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}
