a {
  text-decoration: none;
}

.Header {
  height: 64px;
  width: 100%;
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
}

.Content {
  /* min-height: calc(100vh - 128px); */
  /* height: calc(100vh - 128px); */
  margin-top: 64px;
  margin-bottom: 64px;
  /* overflow-y: scroll;
  overscroll-behavior: contain;
  -ms-overflow-style: none;
  scrollbar-width: none; */
}

/* .Content::-webkit-scrollbar {
  display: none;
} */

.Page {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.Swiper {
  height: calc(100vh - 148px);
  width: 100%;
  z-index: 0;
}

.Slide {
  min-height: calc(100vh - 128px);
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.Card {
  overflow: hidden;
  /* min-height: calc(100vh - 268px); */
  width: 80%;
  max-width: 800px;
  text-align: left; 
  border-radius: 10px; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.Panels {
  padding-top: 20px;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.Panel:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.wrap {
  display: flex;
  flex-direction: row;
}

.wrap ul {
  flex-wrap: wrap;
}

.wrap li {
  width: fit-content;
}

.dark .swiper-scrollbar {
  background-color: rgba(255,255,255,0.1);
}

.dark .swiper-scrollbar-drag {
  background-color: rgba(255,255,255,0.5);
}

.wrap .span {
  margin: auto 10px;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hidden:nth-child(2) {
  transition-delay: 200ms;
}

.Slide:nth-child(3) {
  transition-delay: 400ms;
}

.Slide:nth-child(4) {
  transition-delay: 600ms;
}

.gradiant-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  filter: blur(100px);
  opacity: 0.6;
  z-index: 0;
}

.gradiant-1 {
  background-color: #E1A100;
  width: 700px;
  height: 700px;
  border-radius: 100%;
  position: absolute;
  top: 40%;
  left: 60%;
  mix-blend-mode: lighten;
  z-index: -2;
  animation-duration: 11s;
  animation-name: background-gradiant-1;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.1,0,0.9,1);
}

.gradiant-2 {
  background-color: lightseagreen;
  width: 600px;
  height: 600px;
  border-radius: 100%;
  position: absolute;
  top: 60%;
  left: 40%;
  mix-blend-mode: screen;
  z-index: -1;
  animation-duration: 11s;
  animation-name: background-gradiant-2;
  animation-direction: reverse;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.1,0,0.9,1);
}

.gradiant-3 {
  background-color: violet;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  mix-blend-mode: screen;
  z-index: -3;
  animation-duration: 11s;
  animation-name: background-gradient-3;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.1,0,0.9,1);
}

@keyframes background-gradiant-1 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) rotate(-15deg) rotate(80deg) translateX(30%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(15deg,15deg) rotate(240deg) translateX(15%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
  }
}

@keyframes background-gradiant-2 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(15deg,15deg) rotate(110deg) translateX(-5%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg,-15deg) rotate(300deg) translateX(-10%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
  }
}

@keyframes background-gradiant-3 {
  0% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
  }
  20% {
    transform: translateY(-50%) translateX(-50%) translateX(20%) translateY(-30%);
  }
  40% {
    transform: translateY(-50%) translateX(-50%) translateX(-25%) translateY(-15%);
  }
  60% {
    transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
  }
  80% {
    transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
  }
}

.wave-emoji {
  -webkit-animation-duration: 1.8s;
  animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: wave;
  animation-name: wave;
  -webkit-transform-origin: 70% 70%;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

@media (max-width: 640px) {
  .Panels {
    display: flex;
    flex-direction: column;
  }
  .wrap, .grid {
    flex-direction: column;
  }
  .wrap .span, h3 .span {
    display: none;
  }
}

@media (max-height: 450px) {
  .Avatar span {
    display: none;
  }
  .Card p {
    display: none;
  }
}

@media (max-height: 500px) {
  .project-image {
    display: none;
  }
}
